extends layout

block content
    .container
        h1 Add Service
        form.formInput(action=`/addservice` method="POST") 
            .form-group.col-md-6
                label(for='exampleInputEmail1') Service Type
                input.form-control(type='text', aria-describedby='emailHelp' name='servicetype' placeholder='service ')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Time
                input.form-control(type='text', aria-describedby='emailHelp' name='time' placeholder='service ')
                .form-group.col-md-6
                label(for='exampleInputEmail1') Address
                input.form-control(type='text', aria-describedby='emailHelp' name='address' placeholder='Location')
                
            button.btn.btn-primary(type='submit') Submit
       
