extends layout

block content
	.container
		.jumbotron
			h2.display-3 Resource 
			p.lead
				| View all the product Resource on the DataBase
			hr.my-4
			p
				| Join up
			p.lead
				a.btn.btn-primary.btn-lg(href='/show', role='button') Show
				a.btn.btn-success.btn-lg(href='/create', role='button') Create



