extends layout

block content
    .container
        h1 Login
        form.formInput(action=`/user/login` method="POST") 
            .form-group.col-md-6
                label(for='exampleInputEmail1') Email address
                input.form-control(type='email' placeholder='Enter email' name="email")
                small#emailHelp.form-text.text-muted 
            .form-group.col-md-6
                label(for='exampleInputPassword1') Password
                input.form-control(type='password', placeholder='Password' name="password")
                a.nav-link(href='/passwordreset')  Password reset
            button.btn.btn-primary(type='submit') Submit
