extends layout

block content
    .container
        h1 Order Product
        .card(style='width: 18rem;')
        img.card-img-top(src='/images/default.png', style="width:500px;height:500px;" alt='Card image cap')
        .card-body
        p.card-text
            | 
            strong About the Product 
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
            p.card-text
            | 
            strong Category #{products.category} 
            br
            strong Product #{products.productname} 
            br
            strong Price #{products.price} 
        form(action=`/product/pay` method="POST")
            .form-group.col-md-6
                label(for='exampleInputEmail1') 
                strong Location
                input.form-control(type='text' placeholder='Your Currrent Location' name="location")
            .form-group.col-md-6
                label(for='exampleInputEmail1') 
                strong Address
                input.form-control(type='text' placeholder='Where you want the Service' name="address")
                label(for='exampleInputEmail1') 
                strong Time
                input.form-control(type='time' placeholder='Time' name="time")
            .form-group.col-md-6
                label(for='exampleInputEmail1') 
                strong Date
                input.form-control(type='date' placeholder='Date' name="date")
            .form-group.col-md-6
                input.form-control(type='hidden' placeholder='Date' value=products._id name="id")
            button.btn.btn-success(value="Delete") Pay


            
