extends layout

include mixins/_form

block content
    .container
        h1 Profile Page
        .card(style='width: 40rem;')
            img.card-img-top(src= user.picture, alt='Card image cap')
            .card-body
                h3.card-title Fullname: #{user.username}
                h3.car-title Phone Number: #{user.phone}
                h3.car-title Gender: #{user.gender}
                h3.car-title Address: #{user.address}
                a.btn.btn-primary(href='/user/edit/account') Edit
                br
        h1 Orders

        
        