extends layout

block content
    .container
        h1 Sign up
        form.formInput(action=`/user/signup` method="POST" enctype="multipart/form-data") 
            .form-group.col-md-6
                label(for='exampleInputEmail1') Name
                input.form-control(type='text', aria-describedby='emailHelp' name='username' placeholder='name')
                small#emailHelp.form-text.text-muted 
            .form-group.col-md-6
                label(for='exampleInputEmail1') Phone Number
                input.form-control(type='number' name='phone' aria-describedby='emailHelp', placeholder='11 Digit Number')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Email address
                input.form-control(type='email' placeholder='Enter email' name='email' )
            .form-group.col-md-6
                label(for='exampleInputEmail1') Address
                 input.form-control(type='text' placeholder='Enter your address' name='address' )
            .form-group.col-md-6
                label(for='exampleInputEmail1') Gender
                 input.form-control(type='text' placeholder='Enter your gender' name='gender' )
            .form-group.col-md-6
                label(for='exampleInputEmail1') Profile Picture
                input.form-control(type='file' id="picture" accept="image/gif, image/png, image/jpeg" name='picture' )
            .form-group.col-md-6
                label(for='exampleInputPassword1') Password
                input.form-control(type='password', placeholder='Password' name='password' )
            .form-group.col-md-6
                label(for='exampleInputPassword1') Comfirm Password
                input.form-control(type='password', placeholder='Password',  name="confirmPassword" )
            button.btn.btn-primary(type='submit') Submit