mixin form(product = {})
    form.formInput(action=`/admin/addproduct/${product._id}` method="POST" )
            .form-group.col-md-6
                label(for='exampleInputEmail1') Category
                input.form-control(type='text', aria-describedby='emailHelp' required value=product.category  name='category')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Product Name
                input.form-control(type='text', aria-describedby='emailHelp' required value=product.productname name='productname')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Price
                input.form-control(type='text', aria-describedby='emailHelp' required value=product.price name='price')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Photo
                input.form-control(type='file' id="photo" required accept="image/gif, image/png, image/jpeg" name='photo')
            button.btn.btn-primary(type='submit') Submit
    
    